<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading shadow">Mission</h2>
                <h3 class="section-subheading shadow">Who are we?</h3>
                <p class="lead shadow">
                    AK Imagine was founded with the notion that we were truly out to make art. Our lofty dreams and our rebellious desire to reach them is what drives us to go the extra mile. Our mission is to illuminate your path to innovation, powered by your imagination.
                </p>
            </div>
        </div>
    </div>
</section>