<!-- Navigation -->
<nav class="navbar navbar-light bg-faded" data-toggle="sticky-onscroll">
    <div class="navbar-header mx-auto">
        <a href="#page-top">
            <object id="akimagine-logo" data="img/logos/akimagine-logo.svg" type="image/svg+xml"></object>
        </a>
    </div>
    <a id="contact-shortcut" class="btn btn-sm btn-outline-primary ml-auto" href="#contact">Contact Us</a>
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">your path to innovation</div>
            <div class="intro-heading shadow">powered by your imagination</div>
            <a href="#services" class="btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>